@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
/* NAVBAR CSS */
.navbar {
  height: 130px;
  width: 100%;
  align-items: center;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: fixed;
  z-index: 99;
}
.navright {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 40%;
  gap: 50px;
  text-transform: uppercase;
}
.navtext {
  transition: all 0.2s ease-in;
}
.navtext:hover {
  color: white;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: aliceblue;
  color: black;
  border-radius: 30px;
}
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

/* MAIN CSS */

.main {
  position: relative;
}
/* PAGE1 CSS */

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.text {
  font-size: 100px;
  padding: 0 0px;
  letter-spacing: 10px;
  font-weight: 800;
  font-size: 120px;
  font-family: "Roboto Slab", serif;
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
#page1 p {
  width: 40%;
  text-align: center;
}
#page1 h3 {
  font-size: 30px;
}

/* PAGE2 CSS */

#page2 {
  padding: 100px;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
#page2 img {
  width: 500px;
  height: 500px;
  padding: 0 100px;
}
#page2 h3 {
  text-decoration: underline;
  text-underline-offset: 10px;
  font-size: 50px;
}
.aboutsec {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* PAGE3 CSS */

#page3 {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
  padding-top: 100px;
}
#page3 img {
  padding: 0px;
  height: 200px;
  width: 300px;
  object-fit: cover;
  border-radius: 30px;
}
.sec1 {
  width: 300px;
  height: 400px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  overflow: hidden;
  cursor: pointer;
}
.sec2 {
  width: 300px;
  height: 400px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  overflow: hidden;
  cursor: pointer;
}
.sec3 {
  width: 300px;
  height: 400px;

  outline: none;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
  overflow: hidden;
  cursor: pointer;
}
#page3 p {
  width: 250px;
  text-align: center;
  padding-bottom: 35px;
}
.sec1:hover,
.sec2:hover,
.sec3:hover {
  box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(255, 255, 255, 0.75);
}


/* PAGE4 CSS */

#page4 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 100px;
}
#page4 h1 {
  text-decoration: underline;
  text-underline-offset: 10px;
  font-size: 40px;
  letter-spacing: 5px;
}
.form-container {
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box,
    linear-gradient(145deg, transparent 35%, white, white) border-box;
  border: 2px solid transparent;
  padding: 32px 30px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container button:active {
  scale: 0.95;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}

.form-container .form-group input {
  width: 90%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}

.form-container .form-group textarea {
  width: 96%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 100px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}

.form-container .form-group input::placeholder {
  opacity: 0.5;
}

.form-container .form-group input:focus {
  outline: none;
  border-color: white;
}

.form-container .form-group textarea:focus {
  outline: none;
  border-color: white;
}

.form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

.form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
/* fOOTER CSS */
.footer-basic {
  padding: 100px 0;
  background-color: gray;
  color: white;
}
.footer-basic img{
    height: 40px;
    width: 40px;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.social img:hover {
    color: #111;
    background: white;
 
    box-shadow: 0 0 100px white;
}


.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 20px;
  color: white;
  margin-bottom: 0;
  font-style: italic;
}

/* THE END */
/* This css file was written by Nitin Tripathi*/